<!-- <!DOCTYPE html>
<html>
<head>
  <title>Firmeza Hub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1>Welcome to Firmeza Hub 🚀</h1>
    <a href="/auth/login">
      <button>Login</button>
    </a>
  </div>

</body>
</html> -->